<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <nav class="navbar navbar-expand navbar-primary fixed-top bg-primary">
            <a class="navbar-brand text-light" href="/">Home |</a><a class="navbar-brand text-light" href="/projects">Projects |</a><a class="navbar-brand text-light" href="/contact">Contact</a>
        </nav> <br>
        <div class="mt-5">
            <h1 class="text-center mt-5">About Me</h1>
        </div><br><br>
        <div class="row">
            <div class="col">
                <img src="~/image/Capture.JPG" alt="Darth Bob Capture">
                <h3>Darth Bob</h3>
                <p>Evilest Sith in the Galaxy!!!</p>
            </div>
            <div class="col">
                <p>Darth Bob is the evilest and the oldest of all the Sith Lords in all of the galaxy!!!
                </p>
            </div>
        </div>
    </div>

</body>
</html>