<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
<<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <nav class="navbar navbar-expand navbar-primary fixed-top bg-primary">
            <a class="navbar-brand text-light" href="/">Home |</a><a class="navbar-brand text-light" href="/projects">Projects |</a><a class="navbar-brand text-light" href="/contact">Contact</a>
        </nav> <br>
        <div class="mt-5">
            <h1 class="text-center mt-5">Here are some projects of mine!</h1>
        </div><br><br>
        <div>
            <ul>
           <li>
            <img src="~/image/15-Death-Star.jpg"> <h3>Death Star I</h3>
            <p>The Death Star was the Empire’s ultimate weapon: a moon-sized space station with the ability to destroy an entire planet. But the Emperor and Imperial officers like Darth Bob underestimated the tenacity of the Rebel Alliance, who refused to bow to this technological terror.</p>
           </li><br>
           <li>
            <img src="~/image/DS2.jpg"> <h3>Death Star II</h3>
            <p>Hoping to crush the Rebellion once and for all, the Empire began construction of a second dreaded Death Star near Endor. But the project ran behind schedule; Death Star II was only half-finished, and Darth Bob himself visited to oversee its completion.</p>
           </li><br>
           <li>
            <img src="~/image/Executor2_BF2.png"> <h3>Executor Class Super Star Destroyer</h3>
            <p>The Executor-class had over 5,000 weapons emplacements, including turbolasers, assault concussion missile launchers, and ion cannons. With warships able to direct all power to their energy weapons, the Executor-class had at least 100 times more firepower than an Imperial-class destroyer.</p>
           </li><br>
           <li>
            <img src="~/image/Sun_Crusher-NEGWT.jpg"> <h3>Sun Crusher</h3>
            <p>The Sun Crusher was a nearly indestructible craft that was no larger than a starfighter, but was capable of unleashing destruction on a magnitude that dwarfed even the Death Star's capabilities. Unlike the Death Star, which destroyed individual planets, the Sun Crusher could destroy an entire star system by causing its target star to turn into a supernova.</p>
           </li><br>
           <li>
            <img src="~/image/star forge.jpg"> <h3>Star Forge</h3>
            <p>A giant automated shipyard, designed to create the most powerful army of all time. It was constructed by the Rakatan Infinite Empire in 30,000 BBY, five thousand years before the rise of the Galactic Republic. The Star Forge drew energy and matter from a nearby star which, when combined with the power of the Force, was capable of creating an endless supply of ships, droids, and other war material. </p>
           </li><br>
           </ul>
        </div>
    </div>

</body>
</html>